@import url('./reset.css');
@import url('./common.css');


header {
    .top_area {
        height: 48px;

        .logo {
            float: left;
            width: 97.5px;
            height: 18.5px;
            padding: 0;
            margin-top: 8px;

            a {
                display: block;
                width: 105px;
                height: 27px;
                background: url(../img/bg_logo1.png) no-repeat -5px -165px;
            }
        }

        .gnb {
            padding-top: 4px;
            float: left;
            width: calc(100% - 101px);

            .menu {
                li {
                    float: left;
                    margin-left: 20px;

                    &:nth-child(1) {
                        padding-left: 40px;
                        margin-left: 30px;
                        position: relative;
                    }

                    a {
                        font-size: 16px;
                        line-height: 48px;
                        font-weight: 700;
                        display: block;
                        height: 100%;
                    }
                }
            }

            .util {
                float: right;

                li {
                    float: left;
                    padding: 0 10px;

                    a {
                        font-size: 16px;
                        line-height: 48px;
                        font-weight: 500;
                        display: block;
                        height: 100%;

                    }
                }
            }

            &::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

    .bottom_area {
        display: block;
        position: relative;
        background: #fff;
        height: 120px;
        padding: 0;

        .logo {
            margin: 38px 0 30px;
            float: left;
            background: url(../img/bg_logo.png) no-repeat 0 0;
            width: 178px;
            height: 51px;
        }

        .search {
            width: 460px;
            border: 3px solid #2292e9;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
            box-sizing: border-box;

            .search_txt {
                font-family: 'Nanum Gothic';
                color: #767676;
                font-size: 16px;
                float: left;
                width: calc(100% - 42px);
                border: 0;
                padding: 0 10px;
                height: 38px;
                line-height: 38px;
                box-sizing: border-box;

                &::placeholder {
                    color: #2292e9;
                    font-size: 14px;
                  }
            }

            img {
                margin-left: 3px;
                vertical-align: middle;
                cursor: pointer;
                position: absolute;
                top: 12px;
                right: 42px;
            }

            .search_btn {
                float: left;
                width: 36px;
                height: 36px;
                padding: 0;
                background: url(../img/bg_logo1.png) no-repeat -32px -97px;
            }
        }

        .lang_site {
            height: 21px;
            position: absolute;
            right: 0;
            top: 0;

            select {
                float: left;
                width: 80px;
                height: 21px;
                border-color: #afcfea;
                color: #1E6CB3;
                font-size: 12px;
                line-height: 21px;
                background: url(../img/down_arrow.png) no-repeat no-repeat 96% center;
                background-size: 8px auto;
                appearance: none;
                padding-left: 3px;

                option {
                    font-weight: normal;
                    display: block;
                    white-space: nowrap;
                    padding: 0px 2px 3px;
                    color: inherit;
                }
            }

            button {
                float: right;
                width: 30px;
                font-size: 11px;
                color: #fff;
                background-color: #1E6CB3;
                border: 0;
                height: 21px;
            }
        }

        .weather_info {
            width: 260px;
            height: 85px;
            float: right;
            margin-top: 34px;
            vertical-align: top;
            text-align: right;

            a {
                
                img {
                    float: left;
                }
                
                .info{
                    margin-top: -15px;
                    p {
                        text-align: left;
    
                        &:nth-child(1){
                            font-size: 16px;
                            letter-spacing: -1px;
                            line-height: 2;
                            strong {
                                font-size: 25px;
                                margin-right: 10px;
                            }
                        }
                        &:nth-child(2) {
                            font-size: 13px;
                            letter-spacing: -1px;
                        }
                    }

                }
            }
        }
    }
}

footer {
    .top_area {
        display: flex;
        justify-content: space-between;

        ul {
            padding: 15px 0;
            display: flex;

            li {
                position: relative;
                padding: 0 10px;

                &:nth-child(1) {
                    padding-left: 0;
                }

                a {
                    font-size: 12px;
                    color: #636363;
                }

                &.policy {
                    a {
                        color: #000;
                    }
                }

                &+li {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: block;
                        width: 1px;
                        height: 14px;
                        margin-top: -6px;
                        background: #dcdcdc;
                    }
                }
            }
        }

        .sns {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0;

            a {
                width: 24px;
                height: 24px;
                background: url(../img/bg_sns.png) no-repeat 0 0;

                &+a {
                    margin-left: 15px;
                }

                &.fb {
                    background-position: -25px 0;
                }

                &.tw {
                    background-position: -50px 0;
                }

                &.ins {
                    background-position: -75px 0;
                }

                &.ks {
                    background-position: -100px 0;
                }

                &.yt {
                    background-position: -125px 0;
                }

                &.bl {
                    background-position: -150px 0;
                }
            }
        }
    }

    .bottom_area {
        padding: 22px 0;
        border-top: 1px solid #ccc;
        position: relative;

        .contact {
            margin-right: 40px;
            width: 108px;
            height: 45px;
            background: url(../img/bg.png) no-repeat -180px 0;
            float: left;
        }

        .address {
            display: inline-block;
            vertical-align: top;
            line-height: 1.2;

            p {
                padding-bottom: 2px;
                font-size: 12px;
                font-weight: 500;
                color: #636363;
            }
        }

        .mark {
            position: absolute;
            top: 20px;
            right: 0;

            a {
                &+a {
                    margin-left: 10px;
                }
            }
        }
    }

    .up_btn {
        background: url(../img/up_arrow.png);
        position: fixed;
        bottom: -100px;
        left: 50%;
        display: block;
        width: 34px;
        height: 34px;
        margin-left: 600px;
        opacity: 0;
        transition: 1s;
        z-index: 100;

        &.on {
            opacity: 1;
            bottom: 98px;
        }
    }
}