@import url('./reset.css');
@import url('./common.css');


header {
    .top_area {
        height: 48px;

        .logo {
            float: left;
            width: 97.5px;
            height: 18.5px;
            padding: 0;
            margin-top: 8px;

            a {
                display: block;
                width: 105px;
                height: 27px;
                background: url(../img/bg_logo1.png) no-repeat -5px -165px;
            }
        }

        .gnb {
            padding-top: 4px;
            float: left;
            width: calc(100% - 101px);

            .menu {
                li {
                    float: left;
                    margin-left: 20px;

                    &:nth-child(1) {
                        padding-left: 40px;
                        margin-left: 30px;
                        position: relative;
                    }

                    a {
                        font-size: 16px;
                        line-height: 48px;
                        font-weight: 700;
                        display: block;
                        height: 100%;
                    }
                }
            }

            .util {
                float: right;

                li {
                    float: left;
                    padding: 0 10px;

                    a {
                        font-size: 16px;
                        line-height: 48px;
                        font-weight: 500;
                        display: block;
                        height: 100%;

                    }
                }
            }

            &::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

}

footer {
    .top_area {
        display: flex;
        justify-content: space-between;

        ul {
            padding: 15px 0;
            display: flex;

            li {
                position: relative;
                padding: 0 10px;

                &:nth-child(1) {
                    padding-left: 0;
                }

                a {
                    font-size: 12px;
                    color: #636363;
                }

                &.policy {
                    a {
                        color: #000;
                    }
                }

                &+li {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: block;
                        width: 1px;
                        height: 14px;
                        margin-top: -6px;
                        background: #dcdcdc;
                    }
                }
            }
        }

        .sns {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0;

            a {
                width: 24px;
                height: 24px;
                background: url(../img/bg_sns.png) no-repeat 0 0;

                &+a {
                    margin-left: 15px;
                }

                &.fb {
                    background-position: -25px 0;
                }

                &.tw {
                    background-position: -50px 0;
                }

                &.ins {
                    background-position: -75px 0;
                }

                &.ks {
                    background-position: -100px 0;
                }

                &.yt {
                    background-position: -125px 0;
                }

                &.bl {
                    background-position: -150px 0;
                }
            }
        }
    }

    .bottom_area {
        padding: 22px 0;
        border-top: 1px solid #ccc;
        position: relative;

        .contact {
            margin-right: 40px;
            width: 108px;
            height: 45px;
            background: url(../img/bg.png) no-repeat -180px 0;
            float: left;
        }

        .address {
            display: inline-block;
            vertical-align: top;
            line-height: 1.2;

            p {
                padding-bottom: 2px;
                font-size: 12px;
                font-weight: 500;
                color: #636363;
            }
        }

        .mark {
            position: absolute;
            top: 20px;
            right: 0;

            a {
                &+a {
                    margin-left: 10px;
                }
            }
        }
    }

    .up_btn {
        background: url(../img/up_arrow.png);
        position: fixed;
        bottom: -100px;
        left: 50%;
        display: block;
        width: 34px;
        height: 34px;
        margin-left: 600px;
        opacity: 0;
        transition: 1s;
        z-index: 100;
        &.on{
            opacity: 1;
            bottom: 98px;
        }
    }
}