@import url('./common.css');

body {
    font-family: 'Nanum Gothic', sans-serif;

    a {
        color: #222;
    }
}

.section1 {
    &::after {
        display: block;
        content: "";
        clear: both;
    }

    .slide1 {
        position: relative;
        float: left;
        width: 770px;
        height: 350px;

        .cont {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            width: 690px;

            &.active {
                z-index: 10;

                h3 {
                    background: #0158a8;

                    &::after {
                        content: " ";
                        position: absolute;
                        z-index: 10;
                        left: 99%;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 25px 0 25px 32px;
                        border-color: transparent #0158a8;
                        margin-top: -25px;
                    }


                    a {
                        color: #fff;
                        height: 100%;
                        display: block;
                    }
                }

                .slide_wrap {
                    display: block;
                }
            }

            h3 {
                position: absolute;
                left: -80px;
                height: 50%;
                background: #d2e1e9;
                width: 80px;

                a {
                    color: #333;
                    height: 100%;
                    display: block;
                    position: relative;
                    display: block;
                    width: 100%;
                    padding-top: 50px;
                    font-weight: 600;
                    text-align: center;
                    box-sizing: border-box;

                    i {
                        display: block;
                        width: 50px;
                        height: 50px;
                        margin: 0 auto 10px;
                        background-color: #fff;
                        background-position: 0 0;
                        border-radius: 50%;
                    }
                }
            }

            .slide_wrap {
                position: relative;
                height: 350px;
                display: none;

                .slide {
                    position: relative;

                    a {

                        p {
                            position: absolute;
                            left: 0;
                            bottom: 0px;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            padding-left: 10px;
                            padding-right: 122px;
                            background-color: rgba(0, 0, 0, .7);
                            color: #fff;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            box-sizing: border-box;
                            font-size: 14px;
                        }
                    }
                }

                .custom_paging {
                    position: absolute;
                    right: 7%;
                    bottom: 12px;
                    width: 20px;
                    color: #fff;
                    font-size: 13px;
                    margin-right: 20px;

                    li {
                        display: none;

                        &.slick-active {
                            display: block;
                        }
                    }
                }

                .slick-prev {
                    position: absolute;
                    top: 332px;
                    left: 91%;
                    width: 15px;
                    color: #000;
                    font-size: 13px;
                    z-index: 1;
                    background: url(../img/arrow1.png) no-repeat center;
                    background-position: -241px -285px;

                    &::before {
                        display: none;
                    }
                }

                .slick-next {
                    position: absolute;
                    top: 332px;
                    right: 10px;
                    width: 15px;
                    color: #fff;
                    font-size: 13px;
                    background: url(../img/arrow1.png) no-repeat center;
                    background-position: -256px -285px;

                    &::before {
                        display: none;
                    }
                }

                .buttons {
                    position: absolute;
                    right: 27px;
                    bottom: 13px;
                    width: 15px;
                    height: 15px;
                    color: #fff;
                    font-size: 13px;

                    .pause1 {
                        display: none;
                        height: 100%;
                        background: url(../img/arrow1.png) no-repeat;
                        background-position: -285px -285px;

                        &.on {
                            display: block;
                        }
                    }

                    .play1 {
                        display: none;
                        height: 100%;
                        background: url(../img/arrow1.png) no-repeat;
                        background-position: -269px -285px;

                        &.on {
                            display: block;
                        }
                    }
                }

            }

        }

        .cont01 {
            h3 {
                top: 0;

                i {
                    background: url(../img/slide1_i.png) no-repeat 0 0;
                }

            }

            .buttons {
                position: absolute;
                right: 27px;
                bottom: 13px;
                width: 15px;
                height: 15px;
                color: #fff;
                font-size: 13px;

                .pause1 {
                    display: none;
                    height: 100%;
                    background: url(../img/arrow1.png) no-repeat;
                    background-position: -285px -285px;

                    &.on {
                        display: block;
                    }
                }

                .play1 {
                    display: none;
                    height: 100%;
                    background: url(../img/arrow1.png) no-repeat;
                    background-position: -269px -285px;

                    &.on {
                        display: block;
                    }
                }
            }
        }

        .cont02 {
            h3 {
                top: 50%;

                i {
                    background: url(../img/slide1_i.png) no-repeat 0 0;
                    background-position: -50px 0px;
                }
            }

            .buttons {
                position: absolute;
                right: 27px;
                bottom: 13px;
                width: 15px;
                height: 15px;
                color: #fff;
                font-size: 13px;

                .pause2 {
                    display: none;
                    height: 100%;
                    background: url(../img/arrow1.png) no-repeat;
                    background-position: -285px -285px;

                    &.on {
                        display: block;
                    }
                }

                .play2 {
                    display: none;
                    height: 100%;
                    background: url(../img/arrow1.png) no-repeat;
                    background-position: -269px -285px;

                    &.on {
                        display: block;
                    }
                }
            }
        }

    }


    .banner {
        float: right;

        .banner_img {
            position: relative;
            width: 100%;
            height: 214px;
            overflow: hidden;
            background: url('../img/banner.gif') no-repeat 0 0;
            margin-bottom: 5px;

            span {
                position: absolute;
                display: inline-block;
                min-width: 47px;
                color: #fff;
                text-align: center;
            }

            .corona_lists {
                .date {
                    top: 11px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 25px;
                    color: #000;
                    left: initial;
                    right: 20px;
                    letter-spacing: -0.05em;
                    height: 16px;
                }

                .result1 {
                    top: 100px;
                    width: 130px;
                    margin-left: 35px;
                    font-size: 18px;
                }

                .result2 {
                    top: 100px;
                    width: 130px;
                    margin-left: 195px;
                    font-size: 18px;
                }
            }

            .vaccine_lists {
                .date {
                    top: 137px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 25px;
                    color: #000;
                    left: initial;
                    right: 20px;
                    letter-spacing: -0.05em;
                    height: 16px;
                }

                .v_result1 {
                    top: 175px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 23px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                }

                .v_result2 {
                    top: 175px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 105px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                }

                .v_result3 {
                    top: 175px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 190px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                }

                .v_result4 {
                    top: 175px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 270px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                }
            }
        }
    }


}

.section2 {
    position: relative;
    padding: 50px 0 0;

    h2 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
        font-size: 24px;
    }

    .service {
        overflow: hidden;

        ul {
            width: 100%;
            margin: 0 auto;

            &::after {
                display: block;
                content: "";
                clear: both;
            }

            li {
                height: 90px;
                width: calc(100% / 11);
                float: left;


                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    text-align: center;

                    i {
                        display: block;
                        width: 60px;
                        height: 60px;
                        margin: 0 auto 10px;
                        background-image: url(../img/bg_service.png);
                        background-repeat: no-repeat;

                        &.public {
                            background-position: -360px 0;
                        }

                        &.answer {
                            background-position: 0 0;
                        }

                        &.job {
                            background-position: -120px 0;
                        }

                        &.realestate {
                            background-position: -300px 0;
                        }

                        &.portal {
                            background-position: -180px 0;
                        }

                        &.welfare {
                            background-position: -960px 0;
                        }

                        &.house {
                            background-position: -780px 0;
                        }

                        &.icare {
                            background-position: -840px 0;
                        }

                        &.mediahub {
                            background-position: -1020px 0;
                        }

                        &.ebook {
                            background-position: -1080px 0;
                        }

                        &.council {
                            background-position: -600px 0;
                        }
                    }
                }
            }
        }

        .all {
            width: 112px;
            height: 29px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: block;
            font-size: 15px;
            position: absolute;
            right: 0;
            top: 50px;
            padding-left: 13px;
            line-height: 28px;
            background: url(../img/arrow.png) no-repeat right 13px top 50%;
        }
    }
}

.section3 {
    margin-top: 35px;
    background: #eff4f8;

    ul {
        &::after {
            display: block;
            content: "";
            clear: both;
        }

        li {
            float: left;
            width: 25%;
            padding: 20px 0;
            position: relative;

            &+li {
                &::after {
                    content: '';
                    position: absolute;
                    top: 25px;
                    left: 0px;
                    width: 1px;
                    height: 60px;
                    background: #dbdbdb;
                }
            }
        }
    }

}

.section4 {
    .inner4 {
        padding: 50px 0 50px;
        border-bottom: 2px solid #222222;

        &::after {
            display: block;
            content: "";
            clear: both;
        }

        >div {
            float: left;
            width: 360px;
            position: relative;

            &.board_center {
                margin: 0 36px;
            }

            &.service {
                ul {
                    margin: 0;
                    padding: 17px 5px 7px 20px;
                    background: #eff4f8;

                    li {
                        float: left;
                        width: 50%;
                        position: relative;
                        padding: 0 0 10px 10px;

                        &::before {
                            content: '';
                            position: absolute;
                            background: #666666;
                            width: 2px;
                            height: 2px;
                            left: 0;
                            top: 50%;
                            margin-top: -6px;
                        }

                    }

                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
            }
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid #dbdbdb;

        }

        ul {
            li {
                padding: 6px 0 6px 0;
                position: relative;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;

                strong {
                    margin: 0 9px 0 0;

                    &.cul {
                        color: #9b64d3;
                    }

                    &.env {
                        color: #599100;
                    }

                    &.eco {
                        color: #069363;
                    }
                }
            }
        }

        .more {
            position: absolute;
            right: 0;
            top: 0px;
            width: 22px;
            height: 20px;
            border: 1px solid #ddd;
            background: url(../img/bg_logo1.png) no-repeat -1px -1px;
        }
    }
}

.section5 {
    padding-top: 40px;

    h2 {
        padding: 0 0 20px 0;
        font-size: 24px;
    }

    ul {
        padding: 0 27px;
        margin-left: -59px;

        &::after {
            display: block;
            content: "";
            clear: both;
        }

        li {
            float: left;
            height: 145px;
            width: 85px;
            margin-left: 59px;

            &.house {
                background: url(../img/info1.png) no-repeat;
            }

            &.economy {
                background: url(../img/info2.png) no-repeat;
            }

            &.traffic {
                background: url(../img/info3.png) no-repeat;
            }

            &.environment {
                background: url(../img/info4.png) no-repeat;
            }

            &.welfare {
                background: url(../img/info5.png) no-repeat;
            }

            &.safty {
                background: url(../img/info6.png) no-repeat;
            }

            &.culture {
                background: url(../img/info7.png) no-repeat;
            }

            &.work {
                background: url(../img/info8.png) no-repeat;
            }

            a {
                width: 100%;
                display: inline-block;
                text-align: center;
                font-size: 16px;
                padding-top: 100px;
            }

        }
    }
}

.section6 {
    padding: 20px 0 30px;

    .top_area {
        padding-bottom: 30px;

        h2 {
            padding: 0 0 20px 0;
            font-size: 24px;
        }

        a:nth-child(5n) {
            margin-right: 0;
        }

        a:nth-child(9n) {
            margin-right: 0;
        }

        a {
            width: 272px;
            float: left;
            position: relative;
            margin-right: 20px;
            display: block;

            .txt {
                position: absolute;
                top: calc(188px - 32px);
                width: 82px;
                height: 32px;
                color: #fff;
                text-align: center;
                line-height: 32px;
                z-index: 1;

                &.wel {
                    background-color: #d76000;
                }

                &.env {
                    background-color: #599100;
                }

                &.work {
                    background-color: #028ab6;
                }

                &.traffic {
                    background-color: #337ee2;
                }
            }

            .img_area {
                width: 100%;
                height: 188px;
                overflow: hidden;
                margin-bottom: 15px;

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    width: auto;
                    min-width: 273px;
                    height: 188px;
                    transform: scale(1.0);
                    transition: transform 0.3s ease-in-out;
                }
            }

            p {
                font-size: 16px;
                width: 100%;
                height: 3em;
                line-height: 1.5em;
                margin-bottom: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: normal;
                color: #222;
                word-break: keep-all;
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .bottom_area {

        &::after {
            display: block;
            content: "";
            clear: both;
        }

        h2 {
            padding-bottom: 11px;
            font-size: 24px;
        }

        .video {
            float: left;
            width: 280px;
            height: 152px;
            position: relative;
            overflow: hidden;

            a {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }

            .img_area {
                width: 100%;
                height: 100%;
                overflow: hidden;

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    transform: scale(1.0);
                    transition: transform 0.3s ease-in-out;

                }
            }

            p {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                background-color: rgba(0, 0, 0, .5);
                padding: 11px 20px;
                position: absolute;
                bottom: 38px;
            }
        }

        .news {
            float: left;
            margin: 0 20px;
            width: 480px;

            a {
                display: block;
                height: calc(152px / 4);
                padding: 8px 0;
                width: 100%;


                strong {
                    float: left;
                    font-size: 16px;
                    font-weight: 400;
                    color: #09ac43;
                    margin-right: 18px;
                }

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    color: #555555;
                }
            }
        }

        .sns {
            float: left;
            position: relative;
            width: 350px;
            height: 195px;
            background: url(../img/sns_bg1.gif) no-repeat 0 0;

            span {
                display: inline-block;
                position: relative;
                padding: 15px 50px 0 5px;
                color: #222;
                font-size: 22px;
                font-weight: 600;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    width: 34px;
                    height: 24px;
                    background: url(../img/sns_bg.png) no-repeat -247px 0;
                    border-left: 1px solid #878787;
                    padding-right: 6px;
                }
            }

            ul {
                overflow: hidden;
                position: absolute;
                top: 90px;
                left: 50%;
                width: 276px;
                height: 40px;
                margin-left: -138px;

                li {
                    float: left;

                    &+li {
                        margin-left: 6px;
                    }

                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        background: url(../img/sns_bg.png) no-repeat 0 0;
                        font-size: 0;

                        &.ins {
                            background-position: 0 0;
                        }

                        &.fb {
                            background-position: -40px 0;
                        }

                        &.tw {
                            background-position: -80px 0;
                        }

                        &.bl {
                            background-position: -120px 0;
                        }

                        &.yt {
                            background-position: -160px 0;

                        }

                        &.ks {
                            background-position: -200px 0;
                        }

                    }
                }
            }
        }
    }
}

.section7 {
    margin-bottom: 50px;
}

// slide
.section8 {
    position: relative;
    padding: 50px 0 50px 0;
    border-top: 2px solid #222;

    &::after {
        display: block;
        content: "";
        clear: both;
    }

    .slide2 {
        
        .slide {
            float: left;
            position: relative;
            width: 355px;
            margin-right: 43px;
        }

        .custom_paging {
            width: 40px;
            float: right;
            margin-top: 30px;
            right: 10%;
            margin-right: 60px;

            li {
                display: none;

                &.slick-active {
                    display: block;
                }
            }
        }

        button {
            border: 1px solid #999;

            &.slick-prev {
                background: url(../img/arrow1.png) no-repeat center;
                background-position:  -45px -43px;
                left: 95%;
                top: 130%;

                &::before {
                    display: none;
                }
            }

            &.slick-next {
                background: url(../img/arrow1.png) no-repeat center;
                background-position: -86px -43px;
                right: 0%;
                top: 130%;

                &::before {
                    display: none;
                 
                }
            }
        }
    }


    .buttons {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        position: absolute;
        right: 20px;
        bottom: 49.5px;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 13px;

        .pause3 {
            display: none;
            height: 100%;
            background: url(../img/arrow1.png) no-repeat;
            background-position:  -65px -43px;

            &.on {
                display: block;
                margin-left: 2px;
            }
        }

        .play3 {
            display: none;
            height: 100%;
            background: url(../img/arrow1.png) no-repeat;
            background-position:  -101px -43px;

            &.on {
                display: block;
                margin-left: 2px;
            }
        }
    }
}

.section9 {
    position: relative;
    margin-bottom: 20px;

    ul {
        overflow: hidden;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        background: #d0d0d0;

        li {
            float: left;
            width: calc(100% / 3);

            &.on {
                button {
                    background: #e2e2e2;

                    .txt::after {
                        top: 3px;
                        transition: 0.3s;
                        transform: rotate(45deg);
                        transform-origin: center center;

                    }
                }
            }

            button {
                display: block;
                width: 100%;
                padding: 16px 0;
                border-left: 1px solid #d0d0d0;
                background: #f7f7f7;
                color: #333;
                text-align: center;



                .txt {
                    display: inline-block;
                    position: relative;
                    padding-right: 20px;
                    font-size: 14px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 6px;
                        right: 0px;
                        height: 7px;
                        width: 7px;
                        border-style: solid;
                        border-color: #373737;
                        border-width: 0px 2px 2px 0px;
                        transform: rotate(-135deg);
                        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        transform-origin: center center;
                    }
                }
            }

            ul {
                display: none;
                position: absolute;
                bottom: 50px;
                left: 0;
                width: 100%;
                padding: 10px 20px 20px;
                background: #fff;
                border: 1px solid #d0d0d0;
                z-index: 10;

                li {
                    float: left;
                    width: 25%;
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 1.35em;
                }

            }

            &:last-child {
                button {
                    border-right: 1px solid #d0d0d0;
                }
            }
        }

        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
